body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  /* background: linear-gradient(135deg, #0F2027, #203A43, #2C5364);  */
  background-image: url(/assets/images/bg/newestBgLight.png);
  background: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.1rem 0;
}

/* .contact-container {
  background-color: #2d3b48; 
  padding: 150px;
  border-radius: 8px;
  width: 150vw;
  max-width: 600px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
  margin: 15px;
} */
/* Contact Container */
.contact-container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  height: 500px;
  background-color: #508C9B;
  border-radius: 12px;
  overflow: hidden;
  padding: 0;
  margin: 2rem auto; /* Center the container on the page */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Left Section: Image */
.contact-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.contact-left img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.contact-right {
  flex: 2;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-intro {
  color: aliceblue;
  font-size: 18px;
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
}

textarea {
  height: 100px;
}
textarea:focus, input:focus {
  outline: none;
  border: 1.2px solid#121212;
}

#sendButton {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #0c0533;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.banner {
  background: #201E43;
  background-size: cover;
  background-position: center;
  color: #000B58;
  text-align: center;
  padding: 50px 20px;
  margin-bottom: 2rem;
}

.committee-page .banner{
  padding: 100px 20px;
}

.bannerinner {
  display: inline-block; 
  border: 6px solid #c8e1e9; 
  padding: 30px 60px; 
  text-align: center;
}

.banner h1 {
  font-size: 4.5rem;
}

.header {
  padding: 5px;
  margin-bottom: 5px;
}

.logo {
  max-width: 700px;
  margin-bottom: 50px;
}

.title {
  font-size: 6em;
  color: #FFFFFF; 
  margin-bottom: 19px;
}

.contact-details {
  margin-top: 4px;
}

.contact-details p {
  margin: 4px 0;
  font-size: 2em;
  color: #14062d; 
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #BB86FC; 
  font-size: 0.95em;
  font-family: "Poppins", sans-serif;
  color: #deeae8; 
  background-color: #121212; 
  box-sizing: border-box;
  outline: none;
}

.contact-form textarea {
  height: 7rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #757575;
  font-style: italic;
  padding-left: 4px;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background-color: #BB86FC; 
  border: none;
  color: #121212; 
  font-size: 1.1em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color:  #8a33f4; 
}

.common-paragraph {
  color: #264d57; 
  font-style: italic;
  font-size: 20px; 
  line-height: 1.5; 
  font-family: Arial, sans-serif; 
  text-align: center; 
  font-weight: bold; 
}

.common-heading {
  color: #0c0533; 
  font-size: 32px; 
  line-height: 1.4; 
  font-family: Arial, sans-serif; 
  text-align: center; 
  font-weight: bold; 
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Spacing between the cards */
  margin-top: 20px; /* Space above cards */
}

.card {
  display: flex;
  align-items: center;
  width: 400px; 
  height: 120px; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  background-color: #94b0c9; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.card-image {
  width: 80px; 
  height: 80px; 
  border-radius: 50%; 
  object-fit: cover; 
  margin-right: 20px; 
}

.card-text {
  text-align: left;
  margin-left: 100px;
  color: rgb(230, 207, 203);
}

.card-name {
  font-size: 1.4em; 
  
}

.card-designation {
  font-size: 1em;
 
  margin-top: 5px;
}

.card-contact {
  font-size: 1em;
  
  margin-top: 5px;
}
