.countdown-banner {
  background-color: #3a1121;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  position: relative;
  /* z-index: 1000;  */
}

.countdown-banner .countdown-timer {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}

.countdown-banner span {
  display: inline-block;
  margin: 1rem 1rem;
  padding: 1rem;
  background-color: #5e2b359f;
  border-radius: 1rem;
  min-width: 6rem;
  min-height: 2rem;
}

.countdown-banner span#days,
.countdown-banner span#hours,
.countdown-banner span#minutes,
.countdown-banner span#seconds {
  color: #ffcc00; /
}

.countdown-banner h2{
  margin: 1rem;
}