:root {
  --light-blue: #94b0c9;
  --dark-blue: #1c1678;
  --black-color: #0c0533;
  --white-color: #ffffff;
  --off-white-color: #1e1d46;
  --off-blue-color: #daeaf9;
  --dark-shade: #14062d;
  /* fff0d1 */
}

body {
  font-family: 'Baloo Bhai 2', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 0.8;
  position: relative;
  overflow-x: hidden; 
  width: 100%;
  background-color: var(--white-color); /* Updated background color */
}

.about-us-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border: none;
  background-color: #ffffff; /* Updated background color for about us section */
  text-align: center;
  color: var(--black-color);
  font-size: large
}

.video-background {
  background-color: #fff0d1; /* Background color behind the video if needed */
  z-index: -1;
}


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* body {
  font-family: 'Baloo Bhai 2', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 0.8;
  position: relative;
  overflow-x: hidden; 
  width: 100vw;
} */

.sub-heading {
  color: var(--black-color);
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
}

/* Video section(landing + main) */

/* .video-background {
  height: 110%;
  /* width: 100%; */
  /*z-index: -1;
  overflow: hidden;
} */

#bgVideo {
  height: 90%;
  width: 100%;
  object-fit: cover;
}

/* about us section */
/* .about-us-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border: none;
  background-color: #0b0a0a;
  text-align: center;
  color: #d5e7f4;
} */

.about-us-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .about-us-content {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 40px;
    font-size: small;
  }
}

.about-us-content h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about-us-content p {
  font-size: 1.1em;
  line-height: 1.6;
  text-align: center;
}
/*  ...Carousel Section...  */
.carousel-heading {
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  display: flex;
  align-items: center; 
  justify-content: center; 
}
.carousel-heading h1 {

  margin-bottom: 10px;
}

.carousel-heading .text h2{
  color: aliceblue;
  text-align: center; 
  margin-right: 20px;
}
.carousel-section {
  background-color: var(--off-white-color);
  text-align: center;
  padding: 10px 0 30px 0;
  color: #333333; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}
.carousel { 
  position: relative; 
  width: 600px; 
  height: 340px; 
  overflow: hidden; 
  /* background-color: #cdcdcd;  */
  border: 10px solid white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 
.carousel-item .slide-image { 
  width: 100%; 
  height: 340px; 
  background-size: cover; 
  background-repeat: no-repeat; 
} 
.carousel-item { 
  position: absolute; 
  width: 100%; 
  height: 270px; 
  border: none; 
  top: 0; 
  left: 100%; 
  border-radius: 8px;
} 
.carousel-item.active { 
  left: 0; 
  transition: all 0.4s ease-out; 
} 
.carousel-item div { 
  height: 100%; 
}
.arrow-button {
  background-color: transparent;
  border: 2px solid #fffcfc;
  color: #fdfdfd;
  padding: -2px 5px 0;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: -10px;
  position: relative;
  top: -6px;
}
.arrow-button:hover {
  background-color: #333;
  color: white;
}
.arrow-button::after {
  content: "\2192";
  margin: 0 5px; 
  font-size: 20px;
  padding:0;
}

@media screen and (max-width: 768px) {
  .carousel-heading h1 {
    font-size: 1.5rem;
  }
  .carousel {
    width: 350px; 
    height: 198px;
    border: 8px solid white;
  }  
  .carousel-item .slide-image {
    height: 198px;
  }
  .arrow-button::after {
    font-size: 16px;
  }
}
/*  carousel section ends*/